/*再也不想写非侵入式代码了*/
body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  min-width: 800px;
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #f5f5f5;
}

h1 {
  font-size: 30pt;
  color: #8e8e8e;
}

button {
  background-color: darkgray;
  width: 100px;
  height: 50px;
  font-size: 18pt;
  color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  margin: 10px; 
  border-radius: 8px;
}

button:hover {
  background-color: gray;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: -3px -3px 3px gray;
}

#puzzle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  height: 370px;
}

#msg {
  font-size: 20pt;
  line-height: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

#puzzle div {
  background-image: url("pic/picture.png");
  background-repeat: no-repeat;
}

/*4×4*/

.img4 {
  position: absolute;
  width: 88px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border: 1px solid gray;
  -webkit-transition: left 0.5s, top 0.5s;
  -moz-transition: left 0.5s, top 0.5s;
  -o-transition: left 0.5s, top 0.5s;
  transition: left 0.5s, top 0.5s;
}

.img4:hover{
  z-index: 1;
  box-shadow:0px 0px 5px #000;
}

.p40 {
  left: 0px;
  top: 0px;
}

.p41 {
  left: 90px;
  top: 0px;
}

.p42 {
  left: 180px;
  top: 0px;
}

.p43 {
  left: 270px;
  top: 0px;
}

.p44 {
  left: 0px;
  top: 90px;
}

.p45 {
  left: 90px;
  top: 90px;
}

.p46 {
  left: 180px;
  top: 90px;
}

.p47 {
  left: 270px;
  top: 90px;
}

.p48 {
  left: 0px;
  top: 180px;
}

.p49 {
  left: 90px;
  top: 180px;
}

.p410 {
  left: 180px;
  top: 180px;
}

.p411 {
  left: 270px;
  top: 180px;
}

.p412 {
  left: 0px;
  top: 270px;
}

.p413 {
  left: 90px;
  top: 270px;
}

.p414 {
  left: 180px;
  top: 270px;
}

.p415 {
  left: 270px;
  top: 270px;
}

#no40 {
  background-position: 0px 0px;
}

#no41 {
  background-position: -88px 0px;
}

#no42 {
  background-position: -176px 0px;
}

#no43 {
  background-position: -264px 0px;
}

#no44 {
  background-position: 0px -88px;
}

#no45 {
  background-position: -88px -88px;
}

#no46 {
  background-position: -176px -88px;
}

#no47 {
  background-position: -264px -88px;
}

#no48 {
  background-position: 0px -176px;
}

#no49 {
  background-position: -88px -176px;
}

#no410 {
  background-position: -176px -176px;
}

#no411 {
  background-position: -264px -176px;
}

#no412 {
  background-position: 0px -264px;
}

#no413 {
  background-position: -88px -264px;
}

#no414 {
  background-position: -176px -264px;
}

#no415 {
  background-position: -264px -264px;
}

/*3×3*/

.img3 {
  position: absolute;
  width: 117px;
  height: 117px;
  padding: 0px;
  margin: 0px;
  border: 1px solid gray;
  -webkit-transition: left 0.5s, top 0.5s;
  -moz-transition: left 0.5s, top 0.5s;
  -o-transition: left 0.5s, top 0.5s;
  transition: left 0.5s, top 0.5s;
}

.img3:hover{
  z-index: 1;
  box-shadow:0px 0px 5px #000;
}

.p30 {
  left: 0px;
  top: 0px;
}

.p31 {
  left: 117px;
  top: 0px;
}

.p32 {
  left: 234px;
  top: 0px;
}

.p33 {
  left: 0px;
  top: 117px;
}

.p34 {
  left: 117px;
  top: 117px;
}

.p35 {
  left: 234px;
  top: 117px;
}

.p36 {
  left: 0px;
  top: 234px;
}

.p37 {
  left: 117px;
  top: 234px;
}

.p38 {
  left: 234px;
  top: 234px;
}

#no30 {
  background-position: 0px 0px;
}

#no31 {
  background-position: -117px 0px;
}

#no32 {
  background-position: -234px 0px;
}

#no33 {
  background-position: 0px -117px;
}

#no34 {
  background-position: -117px -117px;
}

#no35 {
  background-position: -234px -117px;
}

#no36 {
  background-position: 0px -234px;
}

#no37 {
  background-position: -117px -234px;
}

#no38 {
  background-position: -234px -234px;
}

/*5×5*/

.img5 {
  position: absolute;
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px;
  border: 1px solid gray;
  -webkit-transition: left 0.5s, top 0.5s;
  -moz-transition: left 0.5s, top 0.5s;
  -o-transition: left 0.5s, top 0.5s;
  transition: left 0.5s, top 0.5s;
}

.img5:hover {
  z-index: 1;
  box-shadow:0px 0px 5px #000;
}

.p50 {
  left: 0px;
  top: 0px;
}

.p51 {
  left: 70px;
  top: 0px;
}

.p52 {
  left: 140px;
  top: 0px;
}

.p53 {
  left: 210px;
  top: 0px;
}

.p54 {
  left: 280px;
  top: 0px;
}

.p55 {
  left: 0px;
  top: 70px;
}

.p56 {
  left: 70px;
  top: 70px;
}

.p57 {
  left: 140px;
  top: 70px;
}

.p58 {
  left: 210px;
  top: 70px;
}

.p59 {
  left: 280px;
  top: 70px;
}

.p510 {
  left: 0px;
  top: 140px;
}

.p511 {
  left: 70px;
  top: 140px;
}

.p512 {
  left: 140px;
  top: 140px;
}

.p513 {
  left: 210px;
  top: 140px;
}

.p514 {
  left: 280px;
  top: 140px;
}

.p515 {
  left: 0px;
  top: 210px;
}

.p516 {
  left: 70px;
  top: 210px;
}

.p517 {
  left: 140px;
  top: 210px;
}

.p518 {
  left: 210px;
  top: 210px;
}

.p519 {
  left: 280px;
  top: 210px;
}

.p520 {
  left: 0px;
  top: 280px;
}

.p521 {
  left: 70px;
  top: 280px;
}

.p522 {
  left: 140px;
  top: 280px;
}

.p523 {
  left: 210px;
  top: 280px;
}

.p524 {
  left: 280px;
  top: 280px;
}

#no50 {
  background-position: 0px 0px;
}

#no51 {
  background-position: -70px 0px;
}

#no52 {
  background-position: -140px 0px;
}

#no53 {
  background-position: -210px 0px;
}

#no54 {
  background-position: -280px 0px;
}

#no55 {
  background-position: 0px -70px;
}

#no56 {
  background-position: -70px -70px;
}

#no57 {
  background-position: -140px -70px;
}

#no58 {
  background-position: -210px -70px;
}

#no59 {
  background-position: -280px -70px;
}

#no510 {
  background-position: 0px -140px;
}

#no511 {
  background-position: -70px -140px;
}

#no512 {
  background-position: -140px -140px;
}

#no513 {
  background-position: -210px -140px;
}

#no514 {
  background-position: -280px -140px;
}

#no515 {
  background-position: 0px -210px;
}

#no516 {
  background-position: -70px -210px;
}

#no517 {
  background-position: -140px -210px;
}

#no518 {
  background-position: -210px -210px;
}

#no519 {
  background-position: -280px -210px;
}

#no520 {
  background-position: 0px -280px;
}

#no521 {
  background-position: -70px -280px;
}

#no522 {
  background-position: -140px -280px;
}

#no523 {
  background-position: -210px -280px;
}

#no524 {
  background-position: -280px -280px;
}