extends layout

block content
  h1 Sign in
  #topError #{errorMsg.top}
  form#sign(action="/" method="post")
    label(for="username") 用户名
    input#username.data(type="text" name="username" value="#{username}")
    .error #{errorMsg.username}
    br
    label(for="password") 密码
    input#password.data(type="password" name="password")
    .error #{errorMsg.password}
    br
    #button
      input(type="submit" value="登录")
  button#regist 注册