body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
  min-width: 800px;
  overflow-x: auto;
  font-family: "Century Gothic", Futura, Verdana, sans-serif;
}

#introduction {
  font-size: 20pt;
  margin-bottom: 10px;
}

.rule {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}


.wallSample {
  margin: auto;
  width: 70px;
  height: 20px;
  background-color: #D4D4D4;
}

.wall {
  background-color: #d4d4d4;
  border: black 1px solid;
  cursor: default;
}

.hit {
  background-color: red;
  border: black 1px solid;
  cursor: default;
}

#msg {
  height: 40px;
  margin-bottom: 20px;
  font-size: 20pt;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;  
}

.hidden {
  color: white;
}

.show {
  color: black; 
}

#maze {
  width: 303px;
  height: 180px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

#start, #end {
  height: 23px;
  width: 23px;
  font-weight: bold;
  border: black 1px solid;
  margin: 1px;
}

#start {
  background-color: lightgreen;
  float: left;
  clear: left;
}

#end {
  background-color: lightskyblue;
  float: right;
  cursor: default;
  position: absolute;
  top: 122px;
  right: 1px;
}

#left, #right {
  height: 120px;
  width: 90px;
  float: left;
  z-index: 0;
}

#right {
  float: right;
  position: absolute;
  top: 0px;
  left: 210px;
}

#top {
  width: 120px;
  height: 30px;
  position: relative;
  top: 0px;
  left: -1px;
  border-left: none;
  border-right: none;
  z-index: 1;
  float: left;
}

#middle {
  width: 60px;
  height: 90px;
  border-bottom: none;
  z-index: 1;
  position: absolute;
  left: 40%;
  top: 59px;
}

#bottom {
  width: 301px;
  height: 30px;
  z-index: 0;
  position: absolute;
  bottom: -1px;
}