body {
  background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000);
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0px;
}

#banner {
  text-align: center;
  margin: 0px;
  height: 50px;
  background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
  background-repeat: repeat-x;
}

h1 {
  font-weight: bold;
  font-size: 24pt;
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
}

#content {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-width: 4px;
  border-color: gray;
  border-style: solid;
  overflow: hidden;
}

.leftFloat{
  float: left;
}
#total {
  width: 550px;
  overflow: hidden;
}

#rotten {
  background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
  background-repeat: repeat-x;
  background-size: auto, 83px;
  overflow: hidden;
  color: white; 
}

#text {
  position: relative;
  bottom: -3pt;
}

#rotten strong {
  font-size: 48pt;
  color: red;
  font-weight: bold;
}

#bar {
  float: left;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #A2B964;
  padding: 5px;
}

#introduction {
  float: right;
  width: 250px;
  background-color: #A2B964;
  font-family: Arial, sans-serif;
}

#introduction dt {
  font-weight: bold;
  margin-top: 1em;
}

#introduction dl {
  padding: 0px 10px;
}

q {
  font-weight: bold;
}

.quote {
  background-color: #E1D697;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  overflow: hidden;
  padding: 8px;  
}

.italic {
  font-style: italic;
}

.icon {
  float: left;
  margin-right: 5px; 
}

.review + .review {
  margin-top: 3em;
  overflow: hidden;
}

.left {
  margin-left: 2%;
  width: 47%;
  float: left;
}

.right {
  margin-left: 2%;
  margin-right: 2%;
  width: 47%;
  float: left;
}

#allReviews {
  width: 550px;
  overflow: hidden;
}

#w3c {
  position: fixed;
  right: 0px;
  bottom: 0px;
  border: none;
}